body {
  background-color: #fdfaf6;
  font-family: 'Droid Sans', sans-serif;
  color: #333333;
  max-width: 1024px;
  margin: 1em auto;
  text-align: justify;
  padding: 0 1em;
  font-size: 18px;
}

.navbar {
  padding: 12px 0;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(248, 247, 243, 0.8);
  backdrop-filter: blur(4px);
}

.navbar a {
  color: #333333;
  padding: 8px 15px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  text-decoration: none;
  color: #6495ED;
}

h2 {
  text-align: center;
  color: #6495ED;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #2196c4;
}

a:hover {
  text-decoration: underline;
  color: #1976D2;
}

li {
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0px;
}

h1.metitle {
  text-align: center;
  color: #1A1A40;
  font-size: 45px;
}

div.about_me {
  display: flex;
  justify-content: center;
}

div.my_info > a {
  display: inline-block;
  margin-top: 5px;
}

img.myself {
  width: 234px;
  height: 320px;
  margin: 0px 70px 10px 0px;
  border-radius: 25px;
}

div.description h2 {
  margin-top: 0px;
}

div.research_interests p {
  width: 800px;
  margin: 0 auto 20px auto;
  text-align: justify;
}

div.publications p {
  text-align: center; 
  font-style: italic;
}

div.papers {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

div.papers span.title {
  font-weight: bold;
  color: #282828;
}

div.papers span.conference {
  font-weight: bold;
  color: #484848;
}


div.news-talks-events p {
  text-align: center;
  font-style: italic;
}

div.news-talks-events div {
  display: flex;
  margin-top: -20px;
}

div.news-talks-events div ul li {
  text-align: left; 
}

div.news-talks-events div ul li span.date, div.teaching div ul li span.date {
  color: rgb(125, 30, 0);
}

details > summary {
  color: #6495ED;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  margin-left: -30px;
}

details[open] > summary {
  margin-bottom: 12px;
}


div.teaching div {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}


div.academic_service div {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}


div.bio p {
  margin-left: 38px;
}

div.bio div {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
